.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../assets/images/header_bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h2 {
  font-size: 30px;
}

nav .list.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  position: absolute;
}

nav.active {
  h2 {
    color: $black;
    position: relative;
    z-index: 10;
    transition: all 0.4s ease-in-out;
  }
  .menu {
    position: relative;
    z-index: 10;
    .line {
      stroke: $black;
    }
  }
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 24px;
  a.btn {
    display: none;
    visibility: hidden;
  }
  h2 {
    color: $white;
  }
  .list {
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 24px;
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: $white;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    text-align: left;
    flex-direction: column;
    color: $black;
    list-style-type: none;
    transition: all 0.4s ease-in;
    .drop-down {
      position: relative;
    }
    li {
      font-size: 22px;
      font-weight: 500;
      padding: 18px 0;
      align-self: stretch;

      a {
        display: block;
        text-decoration: none;
        color: inherit;
        span {
          font-size: 10px;
        }
      }
      .drop-down-menu {
        background: #1d1d1d;
        color: $white;

        list-style-type: none;
        display: none;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
        margin-top: 20px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-50px);
        transition: all 0.6s ease;
        &.active {
          display: flex;
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
        li {
          border-bottom: 1px solid $white;
          padding-left: 20px;
        }
      }
    }
  }
  @media (min-width: 768px) {
    height: 100px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: static;
    left: auto;
    top: auto;
    width: auto;
    transform: translate(0, 0);
    background: transparent;
    color: $white;
    a.btn {
      display: initial;
      visibility: visible;
    }
    h2 {
      color: $white;
      margin-left: 20px;
      margin-bottom: 0;
    }
    .drop-down {
      position: relative;
    }
    .list {
      display: flex;
      visibility: visible;
      opacity: 1;
      position: static;
      transform: translateX(0);
      background-color: transparent;
      background-color: none;
      flex-direction: row;
      width: auto;
      align-items: center;
      color: $white;
      padding-top: 0;
      padding-bottom: 0;
      padding-top: 0;
      li {
        font-size: initial;
        font-weight: 400;
        padding: 0 18px;
        align-self: auto;
        border: none;
        .drop-down-menu {
          position: absolute;
          top: 62px;
          white-space: nowrap;
          display: flex;
          background-color: $white;
          color: $black;
          margin-top: 0;
          padding-left: 0;
          li {
            font-weight: 600;
            padding: 24px 50px;
          }
        }
      }
    }
  }
}

// Hero text center

.hero--text {
  padding-top: 180px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond(sm) {
    padding: 0;
    min-height: 600px;
  }
}

// hamburger menu
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  visibility: visible;
  @include respond(sm) {
    display: none;
    visibility: hidden;
  }
}

.line {
  fill: none;
  stroke: $white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
