.pg__contact {
  h2 {
    color: $black;
  }

  .line {
    stroke: $black !important;
  }

  &__info {
    margin: 50px 0;

    .text {
      width: 100%;
      @include respond(sm) {
        width: 70%;
      }
    }
  }
}

.form {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
  grid-gap: 30px;

  @include respond(sm) {
    padding: 50px 40px;
    grid-template-columns: 1fr 1fr;
  }

  & .input__wrapper {
    input,
    textarea,
    select {
      min-height: 56px;
      width: 100%;
      padding: 0 10px;
      margin-bottom: 0px;
      border-style: solid;
      border-width: 1px;
      border-color: #f8f8f8;
      background-color: #f8f8f8;
      -webkit-transition: color 350ms ease, border-color 350ms ease;
      transition: color 350ms ease, border-color 350ms ease;
      color: #122423;
      font-size: 16px;
      line-height: 1em;

      &:select {
        display: block;
        width: 100%;
        height: 38px;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
      }
    }

    textarea {
      padding: 25px;
    }
    label {
      font-size: 20px;
      display: block;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}
